/* Stile della tabella */
.table-container {
    overflow: auto;
    max-height: 80vh;
  }
  
  #data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd;
  }
  
  #data-table th,
  #data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  #data-table th {
    background-color: #f2f2f2;
  }
  
  #data-table td:empty::before {
    content: "-";
    color: #999;
  }
  
  #data-table tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Stile dei pulsanti di paginazione */
  .pagination {
    text-align: center;
    margin-top: 10px;
  }
  
  .pagination button {
    padding: 8px 15px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #007bff;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Stile dell'intestazione */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
  }
  
  .header h1 {
    margin: 0;
  }
  
  /* Dropdown style */
  .dropdown {
    position: relative;
    transition: opacity 0.2s, transform 0.2s; /* Aggiungi la transizione */
    opacity: 1;
    transform: translateY(-10);
  }
  
  .dropbtn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #007bff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Aggiungi stile ai link SimBrief */
  .simbrief-link {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .simbrief-link:hover {
    text-decoration: underline;
  }
  